* {
  box-sizing: border-box;
}

html {
  font-family: helvetica;
  font-size: 62.5%;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 900px;
  padding: 10px;

  @media (max-width: 900px) {
    width: 100%;
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
      font-size: 26px;
    }

    .lang {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.4rem;

      select {
        margin: 0 0 0 10px;
      }
    }

    .subtitle {
      width: 100%;
      border: 1px solid darkgoldenrod;
      background-color: tan;
      padding: 10px 0;
    }
  }

  .country-list {
    .country-list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 15px 0;

      .country-list-title {
        font-size: 2rem;
        margin: 0;
        padding: 0;
      }

      .search {
        input,
        button {
          border: 1px solid #e1e1e2;
          padding: 1rem;
        }

        button {
          border-left: 0;
        }
      }
    }
    .country-list-table {
      width: 100%;
      position: "relative";

      .NarrowHeader {
        display: none;
      }

      @media (max-width: 600px) {
        .NewConfirmed,
        .NewDeaths,
        .NewRecovered {
          display: none;
        }
        .WideHeader {
          display: none;
        }
        .NarrowHeader {
          display: table-cell;
        }
      }

      thead {
        th {
          font-size: 1.3rem;
          position: sticky;
          top: 0;
          z-index: 10;
          background: #333;
          color: white;

          @media (max-width: 600px) {
            font-size: 1.1rem;
            font-weight: normal;
          }

          &.sort {
            cursor: pointer;
            top: 32px;
          }
        }
        tr {
          height: 30px;
        }
      }
      tbody {
        td {
          font-size: 1.3rem;
          padding: 3px 0;
        }
        .country-table-row {
          &:hover {
            background: #e1e1e2 !important;
          }
        }
        .country-table-row-dark {
          background-color: #f1f1f2;
        }
        .country-name {
          font-size: 1.6rem;
          @media (max-width: 600px) {
            font-size: 1.3rem;
          }
          & > a {
            text-decoration: none;
            color: royalblue;
            font-weight: bold;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .new-confirmed {
          color: rgb(168, 137, 45);
        }
        .new-deaths {
          color: crimson;
        }
        .new-recovered {
          color: green;
        }
      }
    }
  }
}

.summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 2.2rem;
  .summary-header {
    padding: 20px;
    margin: 0 0 2% 0;
    font-size: 3rem;
    font-weight: bold;
    background: rgba(167, 139, 48, 0.3);
    width: 100%;
  }
  .summary-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 32%;
    .summary-item {
      text-align: center;
      padding: 10px;
      width: 100%;
      margin: 0 0 3% 0;
      p {
        margin: 0;
        padding: 5px 0;
        font-weight: bold;
        &:first-child {
          font-size: 1.6rem;
          font-weight: normal;
        }
      }
    }
    .active {
      background: rgba(48, 105, 167, 0.3);
    }

    .recovered {
      background: rgba(78, 167, 48, 0.3);
    }

    .deaths {
      background: rgba(167, 48, 48, 0.3);
    }
  }

  .summary-chart {
    width: 66%;
  }
}

th .countryName {
  font-size: 1.6rem;
}

td.countryName a:hover {
}

footer {
  padding: 20px 0;
  font-size: 1.2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
