.App {
  text-align: center;
  margin: 0 auto;
  width: 900px;
}

.subtitle {
  border: 1px solid darkgoldenrod;
  background-color: tan;
  padding: 10px 0;
}

table {
  width: 100%;
}
.country:hover {
  background: #e1e1e2 !important;
}
th {
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #333;
  color: white;
}
th.sort {
  cursor: pointer;
  top: 32px;
}
td {
  font-size: 1.3rem;
  padding: 3px 0;
}

.countryName {
  font-size: 1.6rem;
}

td.countryName a {
  text-decoration: none;
  color: royalblue;
  font-weight: bold;
}

td.countryName a:hover {
  text-decoration: underline;
}
.search {
  margin-bottom: 3rem;
}

input,
button {
  border: 1px solid #e1e1e2;
  padding: 1rem;
}

button {
  border-left: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
